obj/OomAssignment.csproj.nuget.dgspec.json
obj/OomAssignment.csproj.nuget.g.props
obj/OomAssignment.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/OomAssignment.AssemblyInfo.cs
obj/Debug/net5.0/OomAssignment.AssemblyInfoInputs.cache
obj/Debug/net5.0/OomAssignment.assets.cache
obj/Debug/net5.0/OomAssignment.csproj.AssemblyReference.cache
obj/Debug/net5.0/OomAssignment.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/OomAssignment.csproj.FileListAbsolute.txt
obj/Debug/net5.0/OomAssignment.dll
obj/Debug/net5.0/OomAssignment.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/OomAssignment.genruntimeconfig.cache
obj/Debug/net5.0/OomAssignment.pdb
obj/Debug/net5.0/ref/OomAssignment.dll
bin/Debug/net5.0/OomAssignment
bin/Debug/net5.0/OomAssignment.deps.json
bin/Debug/net5.0/OomAssignment.dll
bin/Debug/net5.0/OomAssignment.pdb
bin/Debug/net5.0/OomAssignment.runtimeconfig.dev.json
bin/Debug/net5.0/OomAssignment.runtimeconfig.json
bin/Debug/net5.0/ref/OomAssignment.dll
obj/Debug/net5.0/OomAssignment.csproj.CopyComplete
bin/Debug/net5.0/BouncyCastle.Crypto.dll
bin/Debug/net5.0/Google.Protobuf.dll
bin/Debug/net5.0/K4os.Compression.LZ4.dll
bin/Debug/net5.0/K4os.Compression.LZ4.Streams.dll
bin/Debug/net5.0/K4os.Hash.xxHash.dll
bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net5.0/MySql.Data.dll
bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net5.0/System.Drawing.Common.dll
bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/System.Security.Permissions.dll
bin/Debug/net5.0/System.Windows.Extensions.dll
bin/Debug/net5.0/Ubiety.Dns.Core.dll
bin/Debug/net5.0/Zstandard.Net.dll
bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
DBConfig
